@font-face {
  font-family: "Titillium Web Light";
  src: local("Titillium Web"), url(../assets/fonts/TitilliumWeb-Light.ttf) format("ttf");
}

@font-face {
  font-family: "Titillium Web Regular";
  src: local("Titillium Web"), url(../assets/fonts/TitilliumWeb-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "Titillium Web SemiBold";
  src: local("Titillium Web"), url(../assets/fonts/TitilliumWeb-SemiBold.ttf) format("ttf");
}

@font-face {
  font-family: "OpenSans Regular";
  src: local("Open Sans"), url(../assets/fonts/OpenSans-Regular.ttf) format("ttf");
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: "Titillium Web Regular";
  color: #c1c1c1;
  background-color: #030d21;
  z-index: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

h1 {
  font-size: 45px;
  font-weight: normal;

  b {
    color: #dedede;
    font-family: "Titillium Web SemiBold";
  }
}

h2 {
  font-size: 30px;
  font-weight: normal;

  b {
    color: #dedede;
    font-family: "Titillium Web SemiBold";
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #18233a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dedede;
}
