@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web:wght@300;400;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;

  font-family: "Titillium Web", "Open Sans";
  color: #c1c1c1;
  background-color: #030d21;
  z-index: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

h1 {
  font-size: 45px;
  font-weight: normal;

  b {
    color: #dedede;
    font-weight: bold;
  }
}

h2 {
  font-size: 30px;
  font-weight: normal;

  b {
    color: #dedede;
    font-weight: bold;
  }
}

a {
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #18233a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dedede;
}
